<div class="foodMain">
  <p style="color: crimson;">Note : Some food recipes may need to buy from NPC.</p>
<table id="food" class="tg" style="table-layout: fixed !important;">
    <colgroup>
      <col style="width: 5%">
      <col style="width: 17%">
      <col style="width: 12%">
      <col style="width: 12%">
      <col style="width: 12%">
      <col style="width: 12%">
      <col style="width: 30%">
    </colgroup>
    <thead>
      <tr>
        <th class="tg-bb29">No</th>
        <th class="tg-bb29">Name</th>
        <th class="tg-bb29">Ingredient 1</th>
        <th class="tg-bb29">Ingredient 2</th>
        <th class="tg-bb29">Ingredient 3</th>
        <th class="tg-bb29">Ingredient 4</th>
        <th class="tg-bb29">Effect</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of Recipes">
        <td class="tg-p1dc">{{recipe.no}}</td>
        <td class="tg-p1dc">{{recipe.name}}</td>
        <td class="tg-p1dc">{{recipe.ingredient1}}</td>
        <td class="tg-p1dc">{{recipe.ingredient2}}</td>
        <td class="tg-p1dc">{{recipe.ingredient3}}</td>
        <td class="tg-p1dc">{{recipe.ingredient4}}</td>
        <td class="tg-p1dc">{{recipe.effects}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>Reference Credit : All of the recipes are from LifeAfter Reddit. <a href="http://bit.ly/LAguides" target="_blank">Link</a></div>
</div>