.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 24px;
  }

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

.tg {
    border-collapse:collapse;
    border-color:#9ABAD9;
    border-spacing:0;
}

.tg td {
    background-color:#EBF5FF;
    border-color:#9ABAD9;
    border-style:solid;
    border-width:1px;
    color:#444;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th {
    background-color:#1abc9c;
    border-color:#73c2b2;
    border-style:solid;
    border-width:1px;
    color:#fff;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-t0np {
    font-family:"Comic Sans MS", cursive, sans-serif !important;
    text-align:left;
    vertical-align:top
}

.tg .tg-by1k {
    font-family:"Comic Sans MS", cursive, sans-serif !important;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}