<div class="header">
  <h1>Life After</h1>
  <p>Guide</p>
  <div style="font-size: 14px;padding-bottom: 5px;">If there are mistakes, wrong information or bugs, please feel free to contact to <a href=mailto:“techbook.mm@gmail.com”>techbook.mm@gmail.com</a></div>
  <div style="font-size: 14px;padding-bottom: 5px;">Or you may send DM to Sad4Fun/Just4Fun (LabyrinthSea) in game.</div>
</div>

<div class="navbar">
  <a routerLink="/food" routerLinkActive="active" (click)="onGoToFoodRecipes()">Food Recipes</a>
  <!-- <a routerLink="/certificate" routerLinkActive="active" (click)="onGoToCertificates()">Certificates</a>
  <a routerLink="/video" routerLinkActive="active" (click)="onGoToVideoGuide()">Video Guide</a> -->
</div>

<div class="row">

  <div class="main">
    <div *ngIf="food_recipes">
      <router-outlet></router-outlet>
    </div>
    <!-- <div *ngIf="certificates">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="videoguide">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="newbie">
      <router-outlet></router-outlet>
    </div> -->
  </div>
</div>
